.body{
  background-color: #FFB6C1;
}
h1 {
  color: #66bfbf;
  font-size: 3rem;
  margin: 50px auto 0 auto;
  font-family: "Open Sans", sans-serif;
}

h2 {
  color: #66bfbf;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
}
.top-container {
  background-color: #e4f9f5;
  position:absolute;
  padding-top: 5px;
  padding-bottom: 50px;
  margin: auto;
}
.middle-container {
  margin: 50px 0;
  padding-top:500px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.profile img{
  background-color: #FFB6C1;
  align-self: auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.title-text img{
  float: left;
  display: block;
  margin-right: 20px;
}
